.dashboard {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #003366;
    color: white;
    padding: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.finance {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.finance-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.enrolled-courses, .course-instructors, .daily-notices {
    margin: 20px 0;
}

.course-item{
    margin: 10px 0;
    margin-left: 10%;
}

.instructor, .notice-item {
    margin: 10px 0;
    margin-left: 10%;
}

.view-button {
    background-color: #003366;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}


.sidebar h2{
    margin-top: 10%;
}

.view-button a{
    margin-top: 10%;
}

.certificate-item {
    background-color: #4156b1;
    padding: 10px;
    border-radius: 8px;
    text-align: center; /* Horizontally centers text */
    flex: 1;
    margin: 0 10px;
    display: flex; /* Enable flexbox */
    align-items: center; /* Vertically centers text */
    justify-content: center; /* Horizontally centers content if needed */
}
